<div *ngIf="isBrowser">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a style="color: #3399ff;">Data Master</a></li>
            <li class="breadcrumb-item active" style="color: #202020;">Permission</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-6">
          <span>List Permission</span>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-success" (click)="openModal()">Tambah Permission</button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <table id="permissionTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Permission</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource; let i = index">
            <td>{{ i + 1 }}</td> <!-- Menampilkan nomor urut -->
            <td>{{ item.name }}</td> <!-- Mengakses nama role di kolom 'name' -->
            <td>
              <button class="btn btn-primary btn-sm mr-1" (click)="editUser(item)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="deleteUser(item)">Hapus</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal Tambah/Edit Role -->
  <div class="modal fade" id="modalTambahPermission" tabindex="-1" role="dialog" aria-labelledby="modalTambahPermissionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTambahPermissionLabel">{{ selectedPermission ? 'Edit Role' : 'Tambah Role' }}</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Permission</label>
              <input id="name" name="name" type="text" class="form-control" [(ngModel)]="newPermission.name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Batal</button>
          <button type="button" class="btn btn-primary" (click)="simpanUser()">{{ selectedPermission ? 'Update' : 'Simpan' }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
