<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
          <img src="dist/img/inventory.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-2 glowing-logo" style="opacity: .8; width: 200px; height: auto;">
          <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; color: white;">
            PT RACHMAT PERDANA ADHIMETAL
          </div>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
      
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <div class="input-group mb-3">
                <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username" required />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
             <!----> 
              <div class="row">
                <!-- /.col 
                 
                <div class="col-12 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </div>
                
                -->

                <!-- /.col -->
              </div>
            </form>
      

            <!--
                        <div class="social-auth-links text-center mb-3">
              <p>- OR -</p>
              <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
              </a>
              <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
              </a>
            </div>
              <p class="mb-1">
              <a href="forgot-password.html">I forgot my password</a>
            </p>
            <p class="mb-0">
              <a href="register.html" class="text-center">Register a new membership</a>
            </p>
            social-auth-links -->
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
</div>
