<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a style="color: #3399ff;">Subcont</a></li>
                        <li class="breadcrumb-item active" style="color: #202020;">Bku</li>
                        <li class="breadcrumb-item active" style="color: #202020;">Bku In</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="card">

        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-6">
                    <span>Bku In</span>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-success"> Tambah</button>
                </div>
            </div>
        </div>

        <div class="card-body" style="height: 1000px;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>No Surat Jalan</th>
                        <th>Po Number</th>
                        <th>No Lot</th>
                        <th>Nama Pengirim</th>
                        <th>No Mobil</th>
                        <th>Qty</th>
                        <th>Tanggal Delivery</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>22345</td>
                        <td>12345</td>
                        <td>123</td>
                        <td>Hapac</td>
                        <td>B 9767 KDA</td>
                        <td>100pcs</td>
                        <td>08 Mei 2023</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>